name: CI
on: 
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'frontend/**'
env:
  AUTHING_PUB_KEY: ${{ secrets.AUTHING_PUB_KEY }}
  AUTHING_APP_ID: ${{ secrets.AUTHING_APP_ID }}
  AUTHING_APP_SECRET: ${{ secrets.AUTHING_APP_SECRET }}
  AUTHING_TEST_USERNAME: ${{ secrets.AUTHING_TEST_USERNAME }}
  AUTHING_TEST_PASSWORD: ${{ secrets.AUTHING_TEST_PASSWORD }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
       include:
        - node-version: 12.x
        - node-version: 14.x
    steps:
      - uses: actions/checkout@v2

      - name: Install Node - ${{ matrix.node-version }}
        uses: actions/setup-node@v2        
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
      - name: Install Dependencies
        run: yarn install
      - name: Config
        run: yarn config:key
      - name: Test On Node ${{ matrix.node-version }}

        run: |
          npm run test
  build-deploy:
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      # create config
      - run: npm run config:sam
      # sam build 
      - run: sam build


      # sam deploy
      - run: sam deploy --no-confirm-changeset
